! Xresources file

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 15 
URxvt.scrollstyle: plain
URxvt*foreground: White
URxvt*font: -*-ohsnap-medium-r-normal-*-11-*-*-*-*-*-*-*
URxvt*boldFont: -*-ohsnap-bold-r-normal-*-11-*-*-*-*-*-*-*
